@keyframes rotation {
	from {
		transform: rotate(0deg);
	} to{
		transform: rotate(359deg);
	}
}
#infos {
	padding-top: 2rem;
	padding-bottom: 1rem;
}
.linkImg{
	float: left;
	padding-right : 1rem;
	width: 2rem;
}
#aproposMain h2 {	
	white-space: nowrap;	
}
#aproposMain p , #aproposMore p {
	margin-bottom: 2rem;	
}
.linkImg:hover {
	animation: rotation 250ms linear;
}